<div class="flex flex-row items-center justify-around min-h-screen" >
  <div class="w-2/3 m-10">
    <div class="flex flex-col sm:flex-row gap-10 items-center justify-center sm:items-start sm:justify-start w-full">
      <div class="bg-white border border-white shadow-lg rounded-3xl p-4 m-4" *ngIf="event; else noData">
        <div class="flex-none sm:flex sm:flex-col sm:gap-4">
          <div class="flex-auto sm:ml-5 justify-evenly w-2/5">
            <div class="flex items-center justify-between sm:mt-2">
              <div class="flex items-center">
                <div class="flex flex-col">
                  <div
                    class="w-full flex-none text-2xl text-gray-800 font-bold leading-none"
                  >
                    {{ event?.title }}
                  </div>
                  <div class="flex-auto text-gray-500 my-1">
                    <span class="mr-3 text-lg">{{ event?.subtitle }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- IMAGE -->
          <div class="relative h-full w-full sm:mb-0 mb-3">
            <img
              [src]="event?.image"
              alt="aji"
              class="w-full h-full object-cover rounded-2xl"
            />
          </div>
          <!-- sessions -->
          <div
            class="flex pt-2 text-sm text-gray-500 gap-3 items-center border-b"
            *ngFor="let session of this.eventCart?.session"
          >
            <div class="flex-1 flex-col items-center">
              <p class="">
                Fecha:
                <span class="font-bold text-black"
                  >{{ session.date | date : "dd  MMMM YYYY" }}
                </span>
              </p>
              <p>
                Disponibilidad:
                <span class="font-bold text-black">
                  {{ session.availability }}</span
                >
              </p>
            </div>
            <div class="flex-1 inline-flex items-center align-center">
              <app-add-cart [eventCart]="event" [session]="session"></app-add-cart>
            </div>
            <button
              class="flex-no-shrink bg-red-700 hover:bg-red-800 align-center px-4 ml-4 py-2 text-xs shadow-sm hover:shadow-lg font-medium tracking-wider border-2 border-red-700 hover:border-red-700 text-white rounded-md transition ease-in duration-300 h-full"
            >
              Comprar
            </button>
          </div>
        </div>
      </div>
      <app-shoppingcard *ngIf="event" class="items-end w-1/2 p-4 m-4"></app-shoppingcard>

    </div>
  </div>
</div>
<div class="">
    <button class="absolute top-24 right-10 rounded-lg px-4 py-2 bg-slate-50 colorOneBox" [routerLink]="'/home'">
      ATRAS
    </button>

</div>



<ng-template #noData>
  <div class="bg-white border border-white shadow-lg rounded-3xl p-4 m-4 colorOneBox  w-full text-center">
    EVENT INFO NOT FOUND
  </div>
</ng-template>