<div class="flex flex-col items-center justify-start min-h-screen ">
  <div class=" w-2/3">
    <div class="flex flex-col">
      <div class="bg-white border border-white shadow-lg rounded-3xl p-4 m-4">
        <div class="flex-none sm:flex sm:flex-col sm:gap-4">
            <div class="flex-auto sm:ml-5 justify-evenly w-2/5">
                <div class="flex items-center justify-between sm:mt-2">
                  <div class="flex items-center">
                    <div class="flex flex-col">
                      <div
                        class="w-full flex-none text-2xl text-gray-800 font-bold leading-none"
                      >
                        {{event?.title}}
                      </div>
                      <div class="flex-auto text-gray-500 my-1">
                        <span class="mr-3 text-lg">{{event?.subtitle}}</span>
    
                      </div>
                    </div>
                  </div>
                </div>
    
            </div>
            <!-- IMAGE -->
            <div class="relative h-full w-full sm:mb-0 mb-3">
            <img
              [src]="event?.image"
              alt="aji"
              class="w-full h-full object-cover rounded-2xl"
            />
          </div>
          <!-- sessions -->
          <div class="flex pt-2 text-sm text-gray-500 gap-3" *ngFor="let  session of sessions">
            <div class="flex-1 flex-col items-center">
              <p class=""> Fecha: <span class="font-bold text-black">{{session.date | date: 'dd  MMMM YYYY'}} </span></p>
              <p> Disponibilidad: <span class="font-bold text-black"> {{session.availability}}</span></p>
            </div>
            <div class="flex-1 inline-flex items-center">
              <p class="">14 Components</p>
            </div>
            <button
              class="flex-no-shrink bg-green-400 hover:bg-green-500 px-4 ml-4 py-2 text-xs shadow-sm hover:shadow-lg font-medium tracking-wider border-2 border-green-300 hover:border-green-500 text-white rounded-md transition ease-in duration-300 h-full "
            >
              FOLLOW
            </button>
          </div>
    </div>
</div>

</div>

</div>

