
<div class="mx-auto bg-slate-50  flex items-center justify-center p-4 sm:p-6 sm:min-h-full rounded-md">
    <div class="flex flex-col w-full bg-white rounded-lg shadow-lg ">
      <div class="w-full h-50 bg-top bg-cover rounded-t" >
        <img src="./assets/img/sample-image.jpg" alt="" class="cursor-pointer" [routerLink]="['/details', event.id]">
    </div>
      <div class="flex flex-col w-full md:flex-row">
          <div class="flex flex-row justify-around p-4 font-bold leading-none text-gray-800 uppercase bg-gray-400 rounded md:flex-col md:items-center md:justify-center md:w-1/4">
              <div class="md:text-2xl text-center"  >{{event.startDate | date: 'dd - MMM YYYY'}}</div>
              <div class="md:text-2xl text-center"  >-</div>
              <div class="md:text-2xl text-center"  >{{event.endDate | date: 'dd - MMM YYYY'}}</div>
          </div>
          <div class="p-4 font-normal text-gray-800 md:w-3/4 md:h-[250px] flex flex-col justify-around	">
          
                <h1 class="mb-4 text-4xl font-bold leading-none tracking-tight text-gray-800 cursor-pointer" [routerLink]="['/details', event.id]">{{event?.title}}  <span class="leading-normal text-sm block" >{{event?.subtitle}}</span></h1>
            
             
              <p class="leading-normal hidden lg:block" [innerHTML]="event?.description"></p>
              <div class="flex flex-row items-center mt-4 text-gray-700">
                  <div class="w-1/2">
                      {{event?.place}}
                  </div>
                  <div class="w-1/2 flex justify-end">
                      <button class="bg-red-800 text-white py-2 px-4 rounded-lg" [routerLink]="['/details', event.id]">Comprar </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>