<div class="flex">
    <button class="border border-black p-1" (click)="_cartService.removeTicket(event, index)">
        <img class="icon-lg p-1" src="assets/icons/-.svg">
    </button>
    <input type="number" class="w-[60px] rounded-none border-y border-black text-base text-center outline-0" [ngModel]="event.session![index].itemQnt"  (ngModelChange)="_cartService.updateEvent(event, $event, index)" />
    <button class="border border-black p-1" (click)="_cartService.addTicket(event, index,1)">
        <img class="icon-lg p-1" src="assets/icons/+.svg">
    </button>
</div>