<div class="flex flex-col items-center justify-start  bg-white shadow-lg rounded-md" *ngIf="tickets.length > 0; else noTikect">
<div class="flex flex-col bg-white shadow-lg rounded-md w-full" *ngFor="let ticket of tickets" >
    <div class="flex flex-row border-b p-3 font-bold" *ngIf="!ticket.disabled" >
        {{ticket.title}}
    </div>
    <div class="" *ngFor="let item of ticket.session">
       <div class="flex flex-row gap-10 p-3 justify-between" *ngIf="item.itemQnt > 0">
           <div>{{item.date | date: 'dd MMM, YYYY'}}</div>
           <div>x{{item.itemQnt}}</div>
           <div>
               <img src="/assets/img/trash.png" alt="" class="w-5" (click)="removeTicket(item, ticket.id)">
           </div>

       </div>
    </div>

</div>
</div>

<ng-template #noTikect>
    <div class="flex flex-col items-center justify-start  bg-white shadow-lg rounded-md px-4 py-2">
        Aun no has comprado tickets
    </div>
</ng-template>
